<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StudentUnion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C4D61381CB368F0000E64F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C4D61511CB368F1000E64F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C4D615C1CB368F1000E64F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
